<plugin name='jabber' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>Glen Smith</author>
  <authorEmail>glen@bytecode.com.au</authorEmail>
  <title>Jabber Plugin</title>
  <description>This plugin provides the opportunity to send and receive Chat messages via the Jabber API.
</description>
  <documentation>http://grails.org/plugin/jabber</documentation>
  <resources>
    <resource>Config</resource>
  </resources>
  <dependencies />
</plugin>